.simple-calendar.dark{
  --font-family: Roboto, sans-serif;
  --heading-font-family: Roboto Condensed, sans-serif;
  --input-bg-color: #302417;
  --input-border-color: #45392d;
  --input-color: #ffffff;
  --link-color: #6b594d;
  --link-hover-color: #45392d;
  --entity-link-bg-color: #302417;
  --entity-link-border-color: #45392d;
  --entity-link-icon-color: #6b594d;
  --entity-link-icon-hover-color: #45392d;
  --heading-border-color: #6b594d;
  --about-heading-border-color: #45392d;
  --app-header-bg-color: #1b130d;
  --app-header-color: #ffffff;
  --app-bg-color: #100c08;
  --app-color: #ffffff;
  --section-bg-color: #1b130d;
  --section-border-color: #45392d;
  --section-color: #ffffff;
  --side-drawer-color: #ffffff;
  --side-drawer-bg-color: #1b130d;
  --side-drawer-border-color: #100c08;
  --cal-day-hover-color: #302417;
  --cal-day-current-bg-color: #45392d;
  --cal-day-selected-bg-color: #6b594d;
  --cal-note-indicator-color: #ffffff;
  --btn-primary-bg-color: #302417;
  --btn-primary-color: #ffffff;
  --btn-primary-bg-hover-color: #45392d;
  --btn-secondary-border-color: #6b594d;
  --btn-secondary-bg-color: #45392d;
  --btn-secondary-color: #ffffff;
  --btn-secondary-bg-hover-color: #6b594d;
  --message-warn-bg-color: #45392d;
  --message-success-bg-color: #302417;
  --message-info-bg-color: #1b130d;
  --message-danger-bg-color: #100c08;
  --config-menu-cal-settings-bg-color: #1b130d;
  --config-menu-item-hover-bg-color: #302417;
  --form-group-input-bg-color: #302417;
  --progress-bar-fill-color: #45392d;
  --editor-menu-control-bg-hover-color: #45392d;
  --time-selector-option-hover-bg-color: #302417;
  --clock-paused-color: #6b594d;
  --clock-started-color: #6b594d;
  --clock-stopped-color: #DD3D31;
}