.simple-calendar.dark {
  --font-family: Roboto, sans-serif;
  --heading-font-family: Roboto Condensed, sans-serif;
  --input-bg-color: #302417;
  --input-border-color: #45392d;
  --input-color: #ffffff;
  --link-color: #6b594d;
  --link-hover-color: #45392d;
  --entity-link-bg-color: #302417;
  --entity-link-border-color: #45392d;
  --entity-link-icon-color: #6b594d;
  --entity-link-icon-hover-color: #45392d;
  --heading-border-color: #6b594d;
  --about-heading-border-color: #45392d;
  --app-header-bg-color: #1b130d;
  --app-header-bg-image: unset;
  --app-header-color: #ffffff;
  --app-header-border: 0;
  --app-header-border-image: unset;
  --app-header-height: 1.875rem;
  --app-bg-color: #100c08;
  --app-bg-image: unset;
  --app-border: 0;
  --app-border-image: unset;
  --app-color: #ffffff;
  --comapct-header-control-grey: #45392d;
  --comapct-header-control-secondary: #6b594d;
  --comapct-header-control-tertiary: #A19ECF;
  --comapct-header-control-save: #2E8D72;
  --section-bg-color: #1b130d;
  --section-border-color: #45392d;
  --section-color: #ffffff;
  --side-drawer-color: #ffffff;
  --side-drawer-bg-color: #1b130d;
  --side-drawer-bg-image: unset;
  --side-drawer-border-color: #100c08;
  --side-drawer-border-image: unset;
  --scrollbar-background-color: #45392d;
  --scrollbar-border-color: #302417;
  --scrollbar-track-bg-color: transparent;
  --scrollbar-track-border: unset;
  --scrollbar-button-height: 0;
  --scrollbar-button-bg-color: unset;
  --scrollbar-button-border: unset;
  --cal-weekend-bg-color: rgba(0, 0, 0, 0.25);
  --cal-day-border-color: #45392d;
  --cal-day-hover-color: #302417;
  --cal-day-current-bg-color: #45392d;
  --cal-day-current-box-shadow-color: #6b594d;
  --cal-day-current-hover-bg-color: #45392d;
  --cal-day-selected-bg-color: #6b594d;
  --cal-day-selected-box-shadow-color: #6b594d;
  --cal-day-selected-hover-bg-color: #6b594d;
  --cal-note-indicator-bg-color: #6b594d;
  --cal-note-reminder-indicator-bg-color: #7B77BC;
  --cal-note-indicator-color: #ffffff;
  --cal-moon-group-bg-color: #1b130d;
  --cal-moon-group-border-color: #302417;
  --cal-moon-group-box-shadow-color: rgba(122, 122, 122, 0.7098039216);
  --cal-moon-text-shadow: rgba(0, 0, 0, 0.5);
  --cal-list-color: #ffffff;
  --cal-list-active-border-color: #459FFF;
  --cal-list-active-bg-color: #45392d;
  --cal-list-visible-bg-color: #45392d;
  --cal-list-bg-hover-color: #6b594d;
  --clock-started-color: #6b594d;
  --clock-stopped-color: #DD3D31;
  --clock-paused-color: #6b594d;
  --context-menu-color: #ffffff;
  --context-menu-border-color: #6b594d;
  --context-menu-bg-color: rgba(0, 0, 0, 0.85);
  --context-menu-action-hover-color: #459FFF;
  --context-menu-divider-color: #6c757d;
  --config-menu-heading-color: #459FFF;
  --config-menu-item-border-color: #45392d;
  --config-menu-item-color: #6b594d;
  --config-menu-item-hover-color: #ffffff;
  --config-menu-item-hover-bg-color: #6b594d;
  --config-menu-cal-settings-bg-color: #1b130d;
  --config-menu-cal-selector-bg-color: #100c08;
  --config-menu-cal-selector-hover-bg-color: #1b130d;
  --config-menu-cal-selector-color: #ffffff;
  --config-menu-cal-selector-hover-color: #ffffff;
  --btn-bg-image: unset;
  --btn-border: 1px solid;
  --btn-border-image: unset;
  --btn-grey-border-color: #6c757d;
  --btn-grey-bg-color: #6c757d;
  --btn-grey-color: #ffffff;
  --btn-grey-bg-hover-color: #45392d;
  --btn-grey-disabled-bg-color: #dee2e6;
  --btn-primary-border-color: #302417;
  --btn-primary-bg-color: #302417;
  --btn-primary-color: #ffffff;
  --btn-primary-bg-hover-color: #45392d;
  --btn-primary-disabled-bg-color: #5C717F;
  --btn-secondary-border-color: #6b594d;
  --btn-secondary-bg-color: #45392d;
  --btn-secondary-color: #ffffff;
  --btn-secondary-bg-hover-color: #6b594d;
  --btn-secondary-disabled-bg-color: #AB9A6E;
  --btn-tertiary-border-color: #7B77BC;
  --btn-tertiary-bg-color: #7B77BC;
  --btn-tertiary-color: #2b292a;
  --btn-tertiary-bg-hover-color: #A19ECF;
  --btn-tertiary-disabled-bg-color: #5E5C7F;
  --btn-delete-border-color: #CD1E16;
  --btn-delete-bg-color: #CD1E16;
  --btn-delete-color: #ffffff;
  --btn-delete-bg-hover-color: #E14337;
  --btn-delete-disabled-bg-color: #AB726E;
  --btn-save-border-color: #1A7255;
  --btn-save-bg-color: #1A7255;
  --btn-save-color: #ffffff;
  --btn-save-bg-hover-color: #3C9F85;
  --btn-save-disabled-bg-color: #5C7F76;
  --form-group-bg-color: #1b130d;
  --form-group-bg-hover-color: #1b130d;
  --form-group-border-color: #45392d;
  --form-group-label-color: #78B9FF;
  --form-group-help-color: #E8EFF3;
  --form-group-input-bg-color: #302417;
  --form-group-input-border-color: #45392d;
  --form-group-input-color: #ffffff;
  --form-group-help-icon-color: #6b594d;
  --message-color: #ffffff;
  --message-warn-bg-color: #45392d;
  --message-warn-border-color: #45392d;
  --message-success-bg-color: #302417;
  --message-success-border-color: #302417;
  --message-info-bg-color: #1b130d;
  --message-info-border-color: #45392d;
  --message-danger-bg-color: #100c08;
  --message-danger-border-color: #100c08;
  --multi-select-option-bg-color: #45392d;
  --multi-select-option-bg-hover-color: #302417;
  --multi-select-option-border-color: #6c757d;
  --multi-select-option-color: #ffffff;
  --multi-select-disabled-bg-color: #302417;
  --multi-select-disabled-color: #ced4da;
  --note-cat-color: #ffffff;
  --note-cat-bg-color: #6c757d;
  --note-cat-box-shadow-color: #2b292a;
  --note-cat-secondary-bg-color: #6b594d;
  --note-cat-secondary-color: #2b292a;
  --note-cat-success-bg-color: #1A7255;
  --note-cat-success-color: #ffffff;
  --note-cat-danger-bg-color: #CD1E16;
  --note-cat-danger-color: #ffffff;
  --note-cat-reminder-bg-color: #7B77BC;
  --note-cat-reminder-color: #2b292a;
  --note-list-note-border-color: #6b594d;
  --note-list-note-bg-hover-color: #302417;
  --note-list-note-hover-color: #ffffff;
  --note-list-note-dragger-bg-color: #6c757d;
  --note-list-note-dragger-box-shadow-color: #2b292a;
  --note-sheet-page-list-border-color: #78B9FF;
  --note-sheet-page-list-page-hover-bg-color: #302417;
  --pre-cal-color: #AFADFF;
  --pre-cal-border-color: #6b594d;
  --pre-cal-border-hover-color: #45392d;
  --primary-btn-bg-color: #302417;
  --primary-btn-color: #ffffff;
  --primary-btn-bg-hover-color: #45392d;
  --progress-bar-border-color: #45392d;
  --progress-bar-bg-color: #45392d;
  --progress-bar-fill-color: #6b594d;
  --progress-bar-fill-text-color: #ffffff;
  --config-menu-form-group-input-bg-color: #1b130d;
  --config-menu-form-group-input-border-color: #45392d;
  --config-menu-form-group-input-color: #ffffff;
  --config-menu-form-group-help-icon-color: #6b594d;
  --config-menu-form-group-label-color: #ffffff;
  --editor-menu-bar-bg-color: #1b130d;
  --editor-menu-bar-border-color: #45392d;
  --editor-menu-bar-color: #ffffff;
  --editor-menu-bar-color-disabled: #6c757d;
  --editor-menu-control-bg-color: #1b130d;
  --editor-menu-control-bg-hover-color: #45392d;
  --editor-menu-control-border-color: #45392d;
  --editor-menu-control-color: #ffffff;
  --editor-menu-control-color-hover: #ffffff;
  --editor-menu-heading-color: #78B9FF;
  --editor-menu-icon-inactive-color: #6c757d;
  --time-selector-bg-color: #1b130d;
  --time-selector-border-color: #6b594d;
  --time-selector-option-bg-color: #1b130d;
  --time-selector-option-border-color: #302417;
  --time-selector-option-hover-bg-color: #302417;
  --time-selector-option-hover-border-color: #45392d;
  --time-selector-option-active-bg-color: #6b594d;
  --time-selector-option-active-border-color: #45392d;
  --time-selector-option-active-color: #ffffff;
  --tooltip-bg-color: rgba(0, 0, 0, 0.85);
  --tooltip-color: #ffffff;
}
